{% extends "template.html" %}

{% block content %}
<div class="container">
    {% if data_all %}
    <div class="box">
        <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <th>KIND</th>
                <th>COLLECTION NAME</th>
                <th>TRACK NAME</th>
                <th>COLLECTION PRICE</th>
                <th>TRACK PRICE</th>
                <th>PRIMARY GENRE NAME</th>
                <th>TRACK COUNT</th>
                <th>TRACK NUMBER</th>
                <th>RELEASE DATA</th>
                <th>LAST UPDATE</th>
            </thead>
            <tbody>
                {% for data in data_all %}
                <tr>
                    <td>{{ data.kind }}</td>
                        <td>{{ data.collection_name }}</td>
                        <td>{{ data.track_name }}</td>
                        <td>{{ data.collection_price }}</td>
                        <td>{{ data.track_price }}</td>
                        <td>{{ data.primary_genre_name }}</td>
                        <td>{{ data.track_count }}</td>
                        <td>{{ data.track_number }}</td>
                        <td>{{ data.release_date }}</td>
                        <td>{{ data.created_on }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}